.mediaPlayer {
    margin-left: 40em;
    margin-top: 10em;
    
}

#tracks input {
	position:absolute;
	left:-999em;
}

#tracks label {
	display:block;
	padding:0.5em 1em;
	background:#F0F8FF;
	cursor:pointer;
}

#tracks label:nth-child(4n+1) {
	background:#E0F0F8;
}

#tracks input:active + label,
#tracks input:focus + label,
#tracks label:hover {
	background:#BDF;
}

#tracks input:checked + label {
	background: #ACE;
}

h2{
    margin: auto;
    text-align: center;
}

.userControls {
    width: 24%;
    background-color: #ffccee;
    border: 2px black groove;
}

.tracks {
    width: 24%;
    background-color: #ffffe6;
    border: 2px black groove;
}

.trackInfo {
    background-color: #e6ffe6;
    width: 24%;
    border: 2px black groove;
    font-weight:bold;
}

.trackInfo input {
	display:inline;
	margin:0;
	font-weight:normal;
	background:transparent;
	border:0;
	color:#000;
}

.bold {
    font-weight: bold;
    display: inline;
}

.button {
    margin-left: 2.5em;
}



.playerControls {
    border: 2px black groove;
    width: 24%;
    background-color: black;
}

#logo {
    margin-left: 2.5em;
    border: 2px black groove;
}

.current {
    background-color: #ffd9b3;
}